<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Github RDP Manager</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
	<div class="container my-3">	
		{% with messages = get_flashed_messages(with_categories=true) %}
		   {% if messages %}
		      {% for category, message in messages %}
		         {%if category=='error'%}
		          <div class="alert alert-danger d-flex align-items-center" role="alert">
		            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
		            <div>{{message}}</div>
		          </div>
		        {%endif%}
		        {%if category=='success'%}
		          <div class="alert alert-success d-flex align-items-center" role="alert">
		            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
		            <div>{{message}}</div>
		          </div>
		        {%endif%}
		      {% endfor %}
		   {% endif %}
		{% endwith %}
		<h1 class="text-center my-3">Github RDP Manager</h1>
		<form method="POST">
			<button type="submit" class="btn btn-primary btn-block" style="display: block;margin-left: auto;margin-right: auto;max-width: 370px;width: 100%;">Create New RDP</button>
		</form>
		<h3 class="text-center my-3">Running RDP</h3>
		<div class="card">
			<div class="card-body table-responsive">
				<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>#</th>
								<th>Username</th>
								<th>Password</th>
								<th>IP Address</th>
								<th>Created</th>
							</tr>
						</thead>
						<tbody class="table-group-divider">
							{% for tunnel, created in tunnels.items() %}
								<tr>
									<th>{{ loop.index }}</th>
									<td>{{ username }}</td>
									<td>{{ password }}</td>
									<td>{{ tunnel }}</td>
									<td>{{ created }}</td>
								</tr>
							{% endfor %}
						</tbody>
				</table>
			</div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>